@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 
my code
start with regular screen-size and adjust css for different sizes later
*/

@import url("https://use.typekit.net/buh5ovi.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  background-color: #121212;
  font-family: proxima-nova, 'Roboto', sans-serif;
  font-size: 1.25vw;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  box-sizing: border-box;
}

/* .App {
} */

p {
  color: #ffffff;
  margin: 0px;
}

a:link, a:visited {
  text-decoration: none;
  color: #ffffff;
  opacity: .5;
}

a:hover {
  color: #ffffff;
  opacity: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  /* font-size: 150%; */
  font-weight: 400;
  width: 100%;
  padding-top: 1.25%;
  padding-bottom: 1.25%;
}

#logo {
  font-family: proxima-nova-extra-condensed, 'Roboto Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 1;
  margin-left: 2%;
}

.nav-row {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.nav-col {
  color: #888888;
  margin-right: 5%;
}

/*
about
*/

.portrait {
  display: block;
  width: 100%;
  height: 100%;
  /* border-radius: 15px; */
}

.intro-head {
  font-weight: 600;
  font-size: 150%;
  color: #ffffff;
  display: inline;
}

.about-row {
  display: flex;
  width: 60%;
  position: fixed center;
  /* background-color: #000000; */
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.about-col1 {
  width: 50%;
  text-align: left;
}

.about-col2 {
  width: 46%;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
}

/*
work
*/

.thumbnail {
  display: block;
  width: 100%;
  height: 100%;
  /* border-radius: 15px; */
}

.card-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
  /* background-color: #000000; */
  opacity: .5;
}

.card-col1 {
  width: 50%;
}

.card-col2 {
  width: 46%;
  text-align: left;
  margin-top: 0%;
  margin-left: 2%;
  margin-right: 2%;
}

.card-name {
  font-weight: 600;
  font-size: 150%;
  text-transform: none;
  color: #FFFFFF;
  display: inline;
}

.card-desc {
  font-size: 100%;
  display: inline;
}

.card-row:hover {
  opacity: 1;
  background-color:#000000;
  /* border-radius: 15px; */
}

/*
project
*/

.title1 {
  font-weight: 600;
  font-size: 300%;
  color: #ffffff;
  text-align: center;
  margin: 0px;
  padding-top: 5%;
}

.title2 {
  font-weight: 600;
  font-size: 150%;
  color: #ffffff;
  /* text-align: center; */
  margin: 0px;
}

.article, .sarticle, .larticle {
  line-height: 1.5;
  /* text-indent: 2em; */
}

.article {
  font-size: 100%;
}

.sarticle {
  font-size: 66.7%;
}

.larticle {
  font-size: 150%;
}

.proj-body {
  width: 60%;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
}

.cover-photo, .proj-photo {
  width: 100%;
  /* border-radius: 15px; */
}

.proj-photo {
  margin-top: 1.5%;
}

.caption {
  font-size: 66.7%;
  text-align: right;
  /* margin-top: -2%; */
}

/*
footer
*/

footer {
  font-size: 100%;
  justify-content: center;
  padding: 2%;
}

#contact {
  font-family: proxima-nova-extra-condensed, 'Roboto Condensed', sans-serif;
  font-weight: 600;
  font-size: 100%;
  text-transform: uppercase;
  color: #ffffff;
  display: inline;
}

/* .contact-info {
} */